<header class = "main-header">
    <nav class= "main-header__nav">
        <ul class= "main-header__item-list">
            <li class= "main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Main</a></li>
            <li class= "main-header__item"><a class="<%= path === '/user/add-user' ? 'active' : '' %>" href="/user/add-user">User</a></li>
        </ul>
    </nav>
</header>